* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    width: 400px; 
    height: 60px;
    color: white;
    text-align: center;
    background-color: #39A59C;
}

.receiver {
    font-size: 18px;
    padding-top: 15px;
}